@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.item-container {
  font-family: "IM_Hyemin-Bold";
  width: 80%;

  padding: 0.5rem;
}
.check {
  margin-right: 1rem;
}
.item-input {
  width: 70%;
  outline: none;
  border: none;
  font-size: 1.11rem;
  /* border: 1px solid red; */
  font-family: "IM_Hyemin-Bold";
  /* border-bottom: 1px solid black; */
}
.item-container:hover {
  .delet-icon {
    display: inline-block;
  }
}
.delet-icon {
  display: none;
  cursor: pointer;
}
