* {
  box-sizing: border-box;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.main-container {
  font-family: "IM_Hyemin-Bold";
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  border: 1px solid black;
  /* margin: 0 auto; */
  width: 400px;
  height: 500px;
}
